/* Define um estilo padrão para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para a lista de navegação */
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para os links na lista de navegação */
  li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilo para os links ativos na lista de navegação */
  li a.active {
    background-color: #333;
    color: #fff;
  }
  
  /* Define um estilo para o cabeçalho principal */
  h1 {
    font-size: 32px;
    text-align: center;
    margin: 50px 0;
  }
  
  /* Define um estilo para o formulário de contato */
  form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  /* Define um estilo para os rótulos do formulário */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Define um estilo para os campos de entrada do formulário */
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  /* Define um estilo para o botão de enviar do formulário */
  button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Define um estilo para o endereço */
  h2 {
    font-size: 24px;
    margin: 50px 0 20px;
  }
  
  /* Define um estilo para o parágrafo do endereço */
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }